[prodenv]
DeltaFiles   = F:\onlinestorage\
StatDir      = F:\Programs\DocStatistic\Docs\
DeltaFake    = F:\Programs\DocStatistic\Files\
StatFile     = DocStatisik.txt
outputFile   = DocTypeCount.txt
logPath      = F:\logs\DocStatistik.log
labelTrun    = VDMMAPS
labelNetting = VDLMAPS
server       = MPZHWMVDFS01
environment  = Production
#
#
[intenv]
DeltaFiles   = F:\onlinestorage\
StatDir      = F:\Programs\DocStatistic\Docs\
DeltaFake    = F:\Programs\DocStatistic\Files\
StatFile     = DocStatisik.txt
outputFile   = DocTypeCount.txt
logPath      = F:\logs\DocStatistik.log
labelTrun    = VDMMAPS
labelNetting = VDLMAPS
server       = MISLWMVDFS41
environment  = Integration
#
#
[localenv]
DeltaFiles   = C:\Daten\workspace\rddelivery\VDFS\DocStatistic\onlinestorage\
StatDir      = C:\Daten\workspace\rddelivery\VDFS\DocStatistic\Docs\
DeltaFake    = C:\Daten\workspace\rddelivery\VDFS\DocStatistic\Files\
StatFile     = DocStatisik.txt
outputFile   = DocTypeCount.txt
logPath      = C:\Daten\workspace\rddelivery\VDFS\DocStatistic\logs\DocStatistik.log
labelTrun    = VDMMAPS
labelNetting = VDLMAPS
server       = N36165
environment  = Local